/* Header----------------------------------------------------------------------- */
h1{
    text-align: center;
    background-color: #FF0000;
    padding: 20px;
    font-size: xx-large;
    
}

/* Main----------------------------------------------------------------------- */
.root{
    background-color: black;
}
.textbox{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

button{
    margin: 0;
    position: absolute;
    top: auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card {
    border: 2px solid black;
    margin: auto; 
    margin-top: 100px;
    text-align: center;
    border-radius: 15px;
    background-image:url('./assets/mage-from-rawpixel-id-12205130-jpeg.jpg');
    background-position: center center;
    background-size: 750px;

}
.card img {
    margin-top: 10px;
    border-radius: 15px;
}

.card div div{
    padding: 5px;
    color: white;
}
.cardtext {
    color: white;
}

/* Footer----------------------------------------------------------------------- */

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:#3c3c3c ;
    padding-top: 30px;
}
